webservice/trunk/samples/wsm_samples_client/schemas/StockQuoteWithHeaderSignature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://beehive.apache.org/wsm/web/header_sample" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://beehive.apache.org/wsm/web/header_sample" xmlns:intf="http://beehive.apache.org/wsm/web/header_sample" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://beehive.apache.org/wsm/web/header_sample" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getQuote">
    <complexType>
     <sequence>
      <element name="symbol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQuoteResponse">
    <complexType>
     <sequence>
      <element name="result" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getQuoteResponse">

      <wsdl:part element="impl:getQuoteResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getQuoteRequest">

      <wsdl:part element="impl:getQuote" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="StockQuoteImpl">

      <wsdl:operation name="getQuote">

         <wsdl:input message="impl:getQuoteRequest" name="getQuoteRequest"/>

         <wsdl:output message="impl:getQuoteResponse" name="getQuoteResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockQuoteImplSoapBinding" type="impl:StockQuoteImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockQuoteImplService">

      <wsdl:port binding="impl:StockQuoteImplSoapBinding" name="StockQuoteImpl">

         <wsdlsoap:address location="http://localhost:8080/wsm-samplesWS/web/header/StockQuoteImpl.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
