wscp/paypal/trunk/PayPalAPI/controls/PayPalAPIControl/PayPalAPIControlSchemas/PayPalSvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="urn:ebay:api:PayPalAPI" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:cc="urn:ebay:apis:CoreComponentTypes" targetNamespace="urn:ebay:api:PayPalAPI">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ebay:api:PayPalAPI" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<import namespace="urn:ebay:apis:eBLBaseComponents" schemaLocation="ebayTypes.wsdl"/>
			<!-- Custom Security header element-->
			<xs:element name="RequesterCredentials" type="ebl:CustomSecurityHeaderType"/>
			<!-- API Request/Responses -->
			<xs:element name="RefundTransactionRequest" type="ns:RefundTransactionRequestType"/>
			<xs:element name="RefundTransactionResponse" type="ns:RefundTransactionResponseType"/>
			<xs:element name="RefundTransactionReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:RefundTransactionRequest"/>
					</xs:sequence>
        			</xs:complexType>
			</xs:element>
			<xs:complexType name="RefundTransactionRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Version" type="xs:string"/>
							<xs:element name="TransactionID" type="ebl:TransactionId"/>
							<xs:element name="RefundType" type="ebl:RefundPurposeTypeCodeType"/>
							<xs:element name="Amount" type="cc:BasicAmountType"/>
							<xs:element name="Memo" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
				<xs:complexType name="RefundTransactionResponseType">
					<xs:complexContent>
						<xs:extension base="ebl:AbstractResponseType">
						</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="GetTransactionDetailsRequest" type="ns:GetTransactionDetailsRequestType"/>
			<xs:element name="GetTransactionDetailsResponse" type="ns:GetTransactionDetailsResponseType"/>
			<xs:element name="GetTransactionDetailsReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:GetTransactionDetailsRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetTransactionDetailsRequestType">
				<xs:complexContent>
 					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Version" type="xs:string"/>
							<xs:element name="TransactionID" type="ebl:TransactionId"/>
            			</xs:sequence>
					</xs:extension>
 				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetTransactionDetailsResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:PaymentTransactionDetails"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="BillUserRequest" type="ns:BillUserRequestType"/>
			<xs:element name="BillUserResponse" type="ns:BillUserResponseType"/>
			<xs:element name="BillUserReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:BillUserRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="BillUserRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Version" type="xs:string"/>
							<xs:element ref="ebl:MerchantPullPaymentDetails"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="BillUserResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
						    <xs:element ref="ebl:BillUserResponseDetails"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="TransactionSearchRequest" type="ns:TransactionSearchRequestType"/>
			<xs:element name="TransactionSearchResponse" type="ns:TransactionSearchResponseType"/>
			<xs:element name="TransactionSearchReq">
				<xs:complexType>
    					<xs:sequence>
						<xs:element ref="ns:TransactionSearchRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="TransactionSearchRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Version" type="xs:string"/>
							<xs:element name="StartDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
							<xs:element name="EndDate" type="xs:dateTime" minOccurs="0"/>
							<xs:element name="Payer" type="ebl:EmailAddressType" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Receiver" type="ebl:EmailAddressType" minOccurs="0" maxOccurs="1"/>
							<xs:element ref="ebl:ReceiptID" minOccurs="0" maxOccurs="1"/>
							<xs:element name="TransactionID" type="ebl:TransactionId" minOccurs="0" maxOccurs="1"/>
							<xs:element name="PayerName" type="ebl:PersonNameType" minOccurs="0" maxOccurs="1"/>
							<xs:element name="AuctionItemNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="TransactionClass" type="ebl:PaymentTransactionClassCodeType" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Amount" type="cc:BasicAmountType"/>							
							<xs:element name="CurrencyCode" type="ebl:CurrencyCodeType" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Status" type="ebl:PaymentTransactionStatusCodeType" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="TransactionSearchResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:PaymentTransactions" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="RequesterCredentials">
		<wsdl:part name="RequesterCredentials" element="ns:RequesterCredentials"/>
	</wsdl:message>
	<wsdl:message name="RefundTransactionRequest">
		<wsdl:part name="RefundTransactionRequest" element="ns:RefundTransactionReq"/>
	</wsdl:message>
	<wsdl:message name="RefundTransactionResponse">
		<wsdl:part name="RefundTransactionResponse" element="ns:RefundTransactionResponse"/>
	</wsdl:message>
	<wsdl:message name="GetTransactionDetailsRequest">
		<wsdl:part name="GetTransactionDetailsRequest" element="ns:GetTransactionDetailsReq"/>
	</wsdl:message>
	<wsdl:message name="GetTransactionDetailsResponse">
		<wsdl:part name="GetTransactionDetailsResponse" element="ns:GetTransactionDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="BillUserRequest">
		<wsdl:part name="BillUserRequest" element="ns:BillUserReq"/>
	</wsdl:message>
	<wsdl:message name="BillUserResponse">
		<wsdl:part name="BillUserResponse" element="ns:BillUserResponse"/>
	</wsdl:message>
	<wsdl:message name="TransactionSearchRequest">
		<wsdl:part name="TransactionSearchRequest" element="ns:TransactionSearchReq"/>
	</wsdl:message>
	<wsdl:message name="TransactionSearchResponse">
		<wsdl:part name="TransactionSearchResponse" element="ns:TransactionSearchResponse"/>
	</wsdl:message>
	<wsdl:portType name="PayPalAPIInterface">
		<wsdl:operation name="RefundTransaction">
			<wsdl:input message="ns:RefundTransactionRequest"/>
			<wsdl:output message="ns:RefundTransactionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetTransactionDetails">
			<wsdl:input message="ns:GetTransactionDetailsRequest"/>
			<wsdl:output message="ns:GetTransactionDetailsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="BillUser">
			<wsdl:input message="ns:BillUserRequest"/>
			<wsdl:output message="ns:BillUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="TransactionSearch">
			<wsdl:input message="ns:TransactionSearchRequest"/>
			<wsdl:output message="ns:TransactionSearchResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PayPalAPISoapBinding" type="ns:PayPalAPIInterface">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RefundTransaction">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTransactionDetails">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
 			</wsdl:input>
 			<wsdl:output>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BillUser">
			<wsdlsoap:operation/>
 			<wsdl:input>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TransactionSearch">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header use="literal" message="ns:RequesterCredentials" part="RequesterCredentials"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PayPalAPIInterfaceService">
		<wsdl:port binding="ns:PayPalAPISoapBinding" name="PayPalAPI">
			<wsdlsoap:address location="https://api.sandbox.paypal.com/2.0/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
