webservice/trunk/schemas/InterfaceTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.controlhaus.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.controlhaus.org" xmlns:intf="http://webservice.controlhaus.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.controlhaus.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="headOn">
    <complexType/>
   </element>
   <element name="headOnResponse">
    <complexType>
     <sequence>
      <element name="result" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="timeOut">
    <complexType>
     <sequence>
      <element name="waitTime" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="timeOutResponse">
    <complexType>
     <sequence>
      <element name="result" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isReady">
    <complexType/>
   </element>
   <element name="isReadyResponse">
    <complexType>
     <sequence>
      <element name="result" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="headOnResponse">

      <wsdl:part element="impl:headOnResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="timeOutRequest">

      <wsdl:part element="impl:timeOut" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isReadyResponse">

      <wsdl:part element="impl:isReadyResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="headOnRequest">

      <wsdl:part element="impl:headOn" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isReadyRequest">

      <wsdl:part element="impl:isReady" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="Exception">

   </wsdl:message>

   <wsdl:message name="timeOutResponse">

      <wsdl:part element="impl:timeOutResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="InterfaceTestService">

      <wsdl:operation name="headOn">

         <wsdl:input message="impl:headOnRequest" name="headOnRequest"/>

         <wsdl:output message="impl:headOnResponse" name="headOnResponse"/>

         <wsdl:fault message="impl:Exception" name="Exception"/>

      </wsdl:operation>

      <wsdl:operation name="timeOut">

         <wsdl:input message="impl:timeOutRequest" name="timeOutRequest"/>

         <wsdl:output message="impl:timeOutResponse" name="timeOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isReady">

         <wsdl:input message="impl:isReadyRequest" name="isReadyRequest"/>

         <wsdl:output message="impl:isReadyResponse" name="isReadyResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InterfaceTestServiceSoapBinding" type="impl:InterfaceTestService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="headOn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="headOnRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="headOnResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Exception">

            <wsdlsoap:fault name="Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="timeOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="timeOutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="timeOutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isReady">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isReadyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isReadyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InterfaceTestServiceService">

      <wsdl:port binding="impl:InterfaceTestServiceSoapBinding" name="InterfaceTestService">

         <wsdlsoap:address location="http://localhost/controlhaus/org/controlhaus/webservice/InterfaceTestService.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
