webservice/trunk/schemas/starwars.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://starwars" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://starwars" xmlns:intf="http://starwars" xmlns:tns1="http://superflaco.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC1
Built on Oct 29, 2004 (04:30:47 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://starwars" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://superflaco.net"/>
   <import namespace="http://superflaco.net"/>
   <import namespace="http://superflaco.net"/>
   <element name="changeName">
    <complexType>
     <sequence>
      <element name="newname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeNameResponse">
    <complexType>
     <sequence>
      <element name="result" type="tns1:character"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChewie">
    <complexType/>
   </element>
   <element name="getChewieResponse">
    <complexType>
     <sequence>
      <element name="result" type="tns1:character"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewCharName">
    <complexType/>
   </element>
   <element name="viewCharNameResponse">
    <complexType>
     <sequence>
      <element name="result" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewCharSystem">
    <complexType/>
   </element>
   <element name="viewCharSystemResponse">
    <complexType>
     <sequence>
      <element name="result" type="tns1:system"/>
     </sequence>
    </complexType>
   </element>
   <element name="viewChar">
    <complexType/>
   </element>
   <element name="viewCharResponse">
    <complexType>
     <sequence>
      <element name="result" type="tns1:character"/>
     </sequence>
    </complexType>
   </element>
   <element name="stashChar">
    <complexType>
     <sequence>
      <element name="character" type="tns1:character"/>
     </sequence>
    </complexType>
   </element>
   <element name="stashCharResponse">
    <complexType>
     <sequence>
      <element name="result" type="tns1:character"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://superflaco.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="character" xmlns:flaco="http://superflaco.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:sequence>

                 <xs:element name="name" type="xs:string"/>

                 <xs:element name="home" type="flaco:system"/>

                 <xs:element name="faction" type="xs:string"/>

                 <xs:element name="evil" type="xs:boolean"/>

                 <xs:element name="jedi" type="xs:boolean"/>

            </xs:sequence>

       </xs:complexType>
   <xs:complexType name="system" xmlns:flaco="http://superflaco.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:sequence>

                 <xs:element name="name" type="xs:string"/>

                 <xs:element maxOccurs="unbounded" name="planet" type="xs:string"/>

                 <xs:element maxOccurs="unbounded" name="star" type="xs:string"/>

            </xs:sequence>

       </xs:complexType>
   <xs:element name="spacecadet" type="flaco:character" xmlns:flaco="http://superflaco.net" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="viewCharNameResponse">

      <wsdl:part element="impl:viewCharNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChewieRequest">

      <wsdl:part element="impl:getChewie" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeNameResponse">

      <wsdl:part element="impl:changeNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="stashCharRequest">

      <wsdl:part element="impl:stashChar" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="viewCharSystemRequest">

      <wsdl:part element="impl:viewCharSystem" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="stashCharResponse">

      <wsdl:part element="impl:stashCharResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeNameRequest">

      <wsdl:part element="impl:changeName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="viewCharResponse">

      <wsdl:part element="impl:viewCharResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChewieResponse">

      <wsdl:part element="impl:getChewieResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="viewCharNameRequest">

      <wsdl:part element="impl:viewCharName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="viewCharRequest">

      <wsdl:part element="impl:viewChar" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="viewCharSystemResponse">

      <wsdl:part element="impl:viewCharSystemResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="starwars">

      <wsdl:operation name="changeName">

         <wsdl:input message="impl:changeNameRequest" name="changeNameRequest"/>

         <wsdl:output message="impl:changeNameResponse" name="changeNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getChewie">

         <wsdl:input message="impl:getChewieRequest" name="getChewieRequest"/>

         <wsdl:output message="impl:getChewieResponse" name="getChewieResponse"/>

      </wsdl:operation>

      <wsdl:operation name="viewCharName">

         <wsdl:input message="impl:viewCharNameRequest" name="viewCharNameRequest"/>

         <wsdl:output message="impl:viewCharNameResponse" name="viewCharNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="viewCharSystem">

         <wsdl:input message="impl:viewCharSystemRequest" name="viewCharSystemRequest"/>

         <wsdl:output message="impl:viewCharSystemResponse" name="viewCharSystemResponse"/>

      </wsdl:operation>

      <wsdl:operation name="viewChar">

         <wsdl:input message="impl:viewCharRequest" name="viewCharRequest"/>

         <wsdl:output message="impl:viewCharResponse" name="viewCharResponse"/>

      </wsdl:operation>

      <wsdl:operation name="stashChar">

         <wsdl:input message="impl:stashCharRequest" name="stashCharRequest"/>

         <wsdl:output message="impl:stashCharResponse" name="stashCharResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="starwarsSoapBinding" type="impl:starwars">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="changeName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getChewie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChewieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getChewieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewCharName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewCharNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewCharNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewCharSystem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewCharSystemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewCharSystemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="viewChar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="viewCharRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="viewCharResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stashChar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="stashCharRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="stashCharResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="starwarsService">

      <wsdl:port binding="impl:starwarsSoapBinding" name="starwars">

         <wsdlsoap:address location="http://jcolwell01/petstoreWeb/starwars.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
