webservice/trunk/drt/schemas/ServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controlhaus.org/ServiceControlTestServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controlhaus.org/ServiceControlTestServer" xmlns:intf="http://controlhaus.org/ServiceControlTestServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controlhaus.org/ServiceControlTestServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAddressFromName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddressFromNameResponse">
    <complexType>
     <sequence>
      <element name="result" type="impl:Address"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Phone">
    <sequence>
     <element name="areaCode" type="xsd:int"/>
     <element name="exchange" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StateType">
    <sequence>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="impl:Phone"/>
     <element name="state" nillable="true" type="impl:StateType"/>
     <element name="streetName" nillable="true" type="xsd:string"/>
     <element name="streetNum" type="xsd:int"/>
     <element name="zip" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="getAddressFromNames">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAddressFromNamesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="result" type="impl:Address"/>
     </sequence>
    </complexType>
   </element>
   <element name="oneWayWithParam">
    <complexType>
     <sequence>
      <element name="param1" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="simpleNoParamMethod">
    <complexType/>
   </element>
   <element name="simpleNoParamMethodResponse">
    <complexType>
     <sequence>
      <element name="result" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEntry">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="address" type="impl:Address"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEntryResponse">
    <complexType/>
   </element>
   <element name="oneWayWithNoParam">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAddressFromNamesResponse">

      <wsdl:part element="impl:getAddressFromNamesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addEntryResponse">

      <wsdl:part element="impl:addEntryResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="oneWayWithNoParamRequest">

      <wsdl:part element="impl:oneWayWithNoParam" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="oneWayWithParamRequest">

      <wsdl:part element="impl:oneWayWithParam" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addEntryRequest">

      <wsdl:part element="impl:addEntry" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAddressFromNameResponse">

      <wsdl:part element="impl:getAddressFromNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAddressFromNamesRequest">

      <wsdl:part element="impl:getAddressFromNames" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAddressFromNameRequest">

      <wsdl:part element="impl:getAddressFromName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="simpleNoParamMethodResponse">

      <wsdl:part element="impl:simpleNoParamMethodResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="simpleNoParamMethodRequest">

      <wsdl:part element="impl:simpleNoParamMethod" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="getAddressFromName">

         <wsdl:input message="impl:getAddressFromNameRequest" name="getAddressFromNameRequest"/>

         <wsdl:output message="impl:getAddressFromNameResponse" name="getAddressFromNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAddressFromNames">

         <wsdl:input message="impl:getAddressFromNamesRequest" name="getAddressFromNamesRequest"/>

         <wsdl:output message="impl:getAddressFromNamesResponse" name="getAddressFromNamesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="oneWayWithParam">

         <wsdl:input message="impl:oneWayWithParamRequest" name="oneWayWithParamRequest"/>

      </wsdl:operation>

      <wsdl:operation name="simpleNoParamMethod">

         <wsdl:input message="impl:simpleNoParamMethodRequest" name="simpleNoParamMethodRequest"/>

         <wsdl:output message="impl:simpleNoParamMethodResponse" name="simpleNoParamMethodResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addEntry">

         <wsdl:input message="impl:addEntryRequest" name="addEntryRequest"/>

         <wsdl:output message="impl:addEntryResponse" name="addEntryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="oneWayWithNoParam">

         <wsdl:input message="impl:oneWayWithNoParamRequest" name="oneWayWithNoParamRequest"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAddressFromName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressFromNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAddressFromNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAddressFromNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressFromNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAddressFromNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="oneWayWithParam">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="oneWayWithParamRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

      </wsdl:operation>

      <wsdl:operation name="simpleNoParamMethod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="simpleNoParamMethodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="simpleNoParamMethodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEntryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEntryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="oneWayWithNoParam">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="oneWayWithNoParamRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceControlTest">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/sctestServer/web/Service.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
