wscp/sforce/branches/janos_unit_tests/extensions/sforceExtension/sforceExtension/clientgenfiles/partner.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
Salesforce.com Partner Web Services API Version 3.0 
Generated on 2004-05-03 23:33:07 +0000.

Copyright 1999-2004 salesforce.com, inc.
All Rights Reserved
-->

<definitions targetNamespace="urn:partner.soap.sforce.com"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:partner.soap.sforce.com"
             xmlns:ens="urn:sobject.partner.soap.sforce.com"
             xmlns:fns="urn:fault.partner.soap.sforce.com"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>

        <schema elementFormDefault="qualified"
                targetNamespace="urn:sobject.partner.soap.sforce.com"
                xmlns="http://www.w3.org/2001/XMLSchema">

	    <import namespace="urn:partner.soap.sforce.com"/>


            <!-- Dynamic sObject -->
            <complexType name="sObject">
                <sequence>
                    <element name="type"               type="xsd:string"/>
                    <element name="fieldsToNull"       type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Id"                 type="tns:ID" nillable="true" minOccurs="0" maxOccurs="1" />
                    <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

        </schema>

        <schema elementFormDefault="qualified"
                targetNamespace="urn:partner.soap.sforce.com"
                xmlns="http://www.w3.org/2001/XMLSchema">

	    <import namespace="urn:sobject.partner.soap.sforce.com"/>

            <!-- Our simple ID Type -->
            <simpleType name="ID">
                <restriction base="xsd:string">
                    <length value="18"/>
                    <pattern value='[a-zA-Z0-9]{18}'/>
                </restriction>
            </simpleType>

            <simpleType name="QueryLocator">
                <restriction base="xsd:string"/>
            </simpleType>

            <!-- Shared Result Types -->
            <complexType name="QueryResult">
                <sequence>
                    <element name="done"         type="xsd:boolean"/>
                    <element name="queryLocator" type="tns:QueryLocator" nillable="true"/>
                    <element name="records"      type="ens:sObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="size"         type="xsd:int"/>
                </sequence>
            </complexType>

            <!-- Search Result -->
            <complexType name="SearchResult">
                <sequence>
                    <element name="searchRecords"  minOccurs="0" maxOccurs="unbounded" type="tns:SearchRecord"/>
                    <element name="sforceReserved" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="SearchRecord">
                <sequence>
                    <element name="record" type="ens:sObject"/>
                </sequence>
            </complexType>

            <!-- GetUpdated Result -->
            <complexType name="GetUpdatedResult">
                <sequence>
                    <element name="ids" minOccurs="0" maxOccurs="unbounded" type="tns:ID"/>
                    <element name="sforceReserved" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>

            <!-- GetDeleted Result -->
            <complexType name="GetDeletedResult">
                <sequence>
                    <element name="deletedRecords" minOccurs="0" maxOccurs="unbounded" type="tns:DeletedRecord"/>
                    <element name="sforceReserved" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="DeletedRecord">
                <sequence>
                    <element name="id"          type="tns:ID"/>
                    <element name="deletedDate" type="xsd:dateTime"/>
                </sequence>
            </complexType>


            <complexType name="GetServerTimestampResult">
                <sequence>
                    <element name="timestamp" type="xsd:dateTime"/>
                </sequence>
            </complexType>

            <complexType name="SetPasswordResult">
            </complexType>

            <complexType name="ResetPasswordResult">
                <sequence>
                    <element name="password" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="GetUserInfoResult">
                <sequence>
                    <element name="currencySymbol"             type="xsd:string"/>
                    <element name="organizationId"             type="tns:ID"/>
                    <element name="organizationMultiCurrency"  type="xsd:boolean"/>
                    <element name="organizationName"           type="xsd:string"/>
                    <element name="userDefaultCurrencyIsoCode" type="xsd:string"/>
                    <element name="userEmail"                  type="xsd:string"/>
                    <element name="userFullName"               type="xsd:string"/>
                    <element name="userId"                     type="tns:ID"/>
                    <element name="userLanguage"               type="xsd:string"/>
                    <element name="userLocale"                 type="xsd:string"/>
                    <element name="userTimeZone"               type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="LoginResult">
                <sequence>
                    <element name="serverUrl"        type="xsd:string" nillable="true"/>
                    <element name="sessionId"        type="xsd:string"/>

                    <element name="userId"           type="tns:ID"/>
                </sequence>
            </complexType>

            <simpleType name="StatusCode">
                <restriction base="xsd:string">
                    <enumeration value="ASSIGNEE_TYPE_REQUIRED"/>
                    <enumeration value="CANNOT_CASCADE_PRODUCT_ACTIVE"/>
                    <enumeration value="CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY"/>
                    <enumeration value="CANNOT_REPARENT_RECORD"/>
                    <enumeration value="CANNOT_RESOLVE_NAME"/>
                    <enumeration value="CANNOT_UPDATE_CONVERTED_LEAD"/>
                    <enumeration value="CANT_DISABLE_CORP_CURRENCY"/>
                    <enumeration value="CANT_UNSET_CORP_CURRENCY"/>
                    <enumeration value="CHILD_SHARE_FAILS_PARENT"/>
                    <enumeration value="CIRCULAR_DEPENDENCY"/>
                    <enumeration value="CUSTOM_ENTITY_OR_FIELD_LIMIT"/>
                    <enumeration value="CUSTOM_FIELD_INDEX_LIMIT_EXCEEDED"/>
                    <enumeration value="DELETE_FAILED"/>
                    <enumeration value="DEPENDENCY_EXISTS"/>
                    <enumeration value="DUPLICATE_CASE_SOLUTION"/>
                    <enumeration value="DUPLICATE_DEVELOPER_NAME"/>
                    <enumeration value="DUPLICATE_MASTER_LABEL"/>
                    <enumeration value="DUPLICATE_USERNAME"/>
                    <enumeration value="DUPLICATE_VALUE"/>
                    <enumeration value="ENTITY_FAILED_IFLASTMODIFIED_ON_UPDATE"/>
                    <enumeration value="ENTITY_IS_ARCHIVED"/>
                    <enumeration value="ENTITY_IS_DELETED"/>
                    <enumeration value="ENTITY_IS_LOCKED"/>
                    <enumeration value="FAILED_ACTIVATION"/>
                    <enumeration value="FIELD_INTEGRITY_EXCEPTION"/>
                    <enumeration value="INACTIVE_OWNER_OR_USER"/>
                    <enumeration value="INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY"/>
                    <enumeration value="INSUFFICIENT_ACCESS_OR_READONLY"/>
                    <enumeration value="INVALID_ACCESS_LEVEL"/>
                    <enumeration value="INVALID_ARGUMENT_TYPE"/>
                    <enumeration value="INVALID_ASSIGNEE_TYPE"/>
                    <enumeration value="INVALID_ASSIGNMENT_RULE"/>
                    <enumeration value="INVALID_BATCH_OPERATION"/>
                    <enumeration value="INVALID_CREDIT_CARD_INFO"/>
                    <enumeration value="INVALID_CROSS_REFERENCE_KEY"/>
                    <enumeration value="INVALID_CROSS_REFERENCE_TYPE_FOR_FIELD"/>
                    <enumeration value="INVALID_CURRENCY_ISO"/>
                    <enumeration value="INVALID_EMAIL_ADDRESS"/>
                    <enumeration value="INVALID_EMPTY_KEY_OWNER"/>
                    <enumeration value="INVALID_FIELD_FOR_INSERT_UPDATE"/>
                    <enumeration value="INVALID_FILTER_ACTION"/>
                    <enumeration value="INVALID_ID_FIELD"/>
                    <enumeration value="INVALID_LINEITEM_CLONE_STATE"/>
                    <enumeration value="INVALID_OPERATOR"/>
                    <enumeration value="INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST"/>
                    <enumeration value="INVALID_STATUS"/>
                    <enumeration value="INVALID_TYPE"/>
                    <enumeration value="INVALID_TYPE_FOR_OPERATION"/>
                    <enumeration value="INVALID_TYPE_ON_FIELD_IN_RECORD"/>
                    <enumeration value="LAST_MODIFIED_SINCE_TOO_OLD"/>
                    <enumeration value="LICENSE_LIMIT_EXCEEDED"/>
                    <enumeration value="MALFORMED_ID"/>
                    <enumeration value="MAXIMUM_CCEMAILS_EXCEEDED"/>
                    <enumeration value="MAXIMUM_DASHBOARD_COMPONENTS_EXCEEDED"/>
                    <enumeration value="MAXIMUM_SIZE_OF_ATTACHMENT"/>
                    <enumeration value="MAXIMUM_SIZE_OF_DOCUMENT"/>
                    <enumeration value="MAX_ACTIONS_PER_RULE_EXCEEDED"/>
                    <enumeration value="MAX_ACTIVE_RULES_EXCEEDED"/>
                    <enumeration value="MAX_TASK_DESCRIPTION_EXCEEEDED"/>
                    <enumeration value="MISSING_ARGUMENT"/>
                    <enumeration value="NUMBER_OUTSIDE_VALID_RANGE"/>
                    <enumeration value="REQUIRED_FIELD_MISSING"/>
                    <enumeration value="SHARE_NEEDED_FOR_CHILD_OWNER"/>
                    <enumeration value="STANDARD_PRICE_NOT_DEFINED"/>
                    <enumeration value="STORAGE_LIMIT_EXCEEDED"/>
                    <enumeration value="TEXT_DATA_OUTSIDE_SUPPORTED_CHARSET"/>
                    <enumeration value="UNKNOWN_EXCEPTION"/>
                    <enumeration value="UNSPECIFIED_EMAIL_ADDRESS"/>
                </restriction>
            </simpleType>


            <complexType name="Error">
                <sequence>
                    <element name="fields"     type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="message"    type="xsd:string"/>
                    <element name="statusCode" type="tns:StatusCode"/>
                </sequence>
            </complexType>
            
            <complexType name="SaveResult">
                <sequence>
                    <element name="errors"    type="tns:Error" nillable="true" minOccurs="0" maxOccurs="unbounded"/>     
                    <element name="id"        type="tns:ID"/>
                    <element name="success"   type="xsd:boolean"/>
                </sequence>
            </complexType>
            
            <complexType name="DeleteResult">
                <sequence>
                    <element name="errors"    type="tns:Error" nillable="true" minOccurs="0" maxOccurs="unbounded"/>     
                    <element name="id"        type="tns:ID"/>
                    <element name="success"   type="xsd:boolean"/>
                </sequence>
            </complexType>

            <complexType name="DescribeSObjectResult">
                <sequence>
                    <element name="activateable"   type="xsd:boolean"/>
                    <element name="createable"     type="xsd:boolean"/>
                    <element name="custom"         type="xsd:boolean"/>
                    <element name="deletable"      type="xsd:boolean"/>
                    <element name="fields"         type="tns:Field" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="label"          type="xsd:string"/>
                    <element name="name"           type="xsd:string"/>
                    <element name="queryable"      type="xsd:boolean"/>
                    <element name="retrieveable"   type="xsd:boolean"/>
                    <element name="replicateable"  type="xsd:boolean"/>
                    <element name="searchable"     type="xsd:boolean"/>
                    <element name="updateable"     type="xsd:boolean"/>
                    <element name="undeletable"    type="xsd:boolean"/>
                </sequence>
            </complexType>

            <complexType name="DescribeGlobalResult">
                <sequence>
                    <element name="encoding"       type="xsd:string" nillable="true"/>
                    <element name="maxBatchSize"   type="xsd:int"/>
                    <element name="types"          type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <simpleType name="fieldType">
                <restriction base="xsd:string">
                    <enumeration value="string"/>
                    <enumeration value="picklist"/>
                    <enumeration value="combobox"/>
                    <enumeration value="reference"/>
                    <enumeration value="base64"/>
                    <enumeration value="boolean"/>
                    <enumeration value="currency"/>
                    <enumeration value="textarea"/>
                    <enumeration value="int"/>
                    <enumeration value="double"/>
                    <enumeration value="percent"/>
                    <enumeration value="phone"/>
                    <enumeration value="id"/>
                    <enumeration value="date"/>
                    <enumeration value="datetime"/>
                    <enumeration value="url"/>
                    <enumeration value="email"/>
                </restriction>
            </simpleType>

            <simpleType name="soapType"> 
                <restriction base="xsd:string">
                    <enumeration value="tns:ID"/>
                    <enumeration value="xsd:base64Binary"/>
                    <enumeration value="xsd:boolean"/>
                    <enumeration value="xsd:double"/>
                    <enumeration value="xsd:int"/>
                    <enumeration value="xsd:string"/>
                    <enumeration value="xsd:date"/>
                    <enumeration value="xsd:dateTime"/>
                </restriction>
            </simpleType>

            <complexType name="Field">
                <sequence>
                    <element name="byteLength"         type="xsd:int"/>
                    <element name="createable"         type="xsd:boolean"/>
                    <element name="custom"             type="xsd:boolean"/>
                    <element name="digits"             type="xsd:int"/>
                    <element name="filterable"         type="xsd:boolean"/>
                    <element name="label"              type="xsd:string"/>
                    <element name="length"             type="xsd:int"/>
                    <element name="name"               type="xsd:string"/>
                    <element name="nameField"          type="xsd:boolean"/>
                    <element name="nillable"           type="xsd:boolean"/>
                    <element name="picklistValues"     type="tns:PicklistEntry" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="precision"          type="xsd:int"/>
                    <element name="referenceTo"        type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="restrictedPicklist" type="xsd:boolean"/>
                    <element name="scale"              type="xsd:int"/>
                    <element name="soapType"           type="tns:soapType"/> 
                    <element name="type"               type="tns:fieldType"/>
                    <element name="updateable"         type="xsd:boolean"/>
                </sequence>
            </complexType>
           
            <complexType name="PicklistEntry">
                <sequence>
                    <element name="active"       type="xsd:boolean"/>
                    <element name="defaultValue" type="xsd:boolean"/>
                    <element name="label"        type="xsd:string"/>
                    <element name="value"        type="xsd:string"/>
                </sequence>
            </complexType>


            
            <!-- Login Message Types -->
            <element name="login">
                <complexType>
                    <sequence>
                        <element name="username" type="xsd:string"/>
                        <element name="password" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="loginResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:LoginResult"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Describe Message Types -->
            <element name="describeSObject">
                <complexType>
                    <sequence>
                        <element name="sObjectType" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="describeSObjectResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:DescribeSObjectResult"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Describe Message Types -->
            <element name="describeGlobal">
                <complexType> 
                    <sequence/> 
                </complexType> 
            </element>
            <element name="describeGlobalResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:DescribeGlobalResult"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Create Message Types -->
            <element name="create">
                <complexType>
                    <sequence>
                        <element name="sObjects" type="ens:sObject" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="createResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:SaveResult" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            
            <!-- Update Message Types -->
            <element name="update">
                <complexType>
                    <sequence>
                        <element name="sObjects" type="ens:sObject" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updateResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:SaveResult" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Delete Message Types -->
            <element name="delete">
                <complexType>
                    <sequence>
                        <element name="ids" type="tns:ID" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="deleteResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:DeleteResult" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Retrieve (ID List) Message Types -->
            <element name="retrieve">
                <complexType>
                    <sequence>
                        <element name="fieldList"   type="xsd:string"/>
                        <element name="sObjectType" type="xsd:string"/>
                        <element name="ids"         type="tns:ID" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="retrieveResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="ens:sObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Get Updated Message Types -->
            <element name="getUpdated">
                <complexType>
                    <sequence>
                        <element name="sObjectType" type="xsd:string"/>
                        <element name="startDate" type="xsd:dateTime"/>
                        <element name="endDate" type="xsd:dateTime"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getUpdatedResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:GetUpdatedResult"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Get Deleted Message Types -->
            <element name="getDeleted">
                <complexType>
                    <sequence>
                        <element name="sObjectType" type="xsd:string"/>
                        <element name="startDate" type="xsd:dateTime"/>
                        <element name="endDate" type="xsd:dateTime"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getDeletedResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:GetDeletedResult"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Create Query -->
            <element name="query">
                <complexType>
                    <sequence>
                        <element name="queryString" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="queryResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:QueryResult"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Next Batch of sObjects from a query -->
            <element name="queryMore">
                <complexType>
                    <sequence>
                        <element name="queryLocator" type="tns:QueryLocator"/>
                    </sequence>
                </complexType>
            </element>
            <element name="queryMoreResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:QueryResult"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Create Search -->
            <element name="search">
                <complexType>
                    <sequence>
                        <element name="searchString" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="searchResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:SearchResult"/>
                    </sequence>
                </complexType>
            </element>


            
            <element name="getServerTimestamp">
                <complexType> 
                    <sequence/> 
                </complexType> 
            </element>
            <element name="getServerTimestampResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:GetServerTimestampResult"/>
                    </sequence>
                </complexType>
            </element>

            <element name="setPassword">
                <complexType>
                    <sequence>
                        <element name="userId" type="tns:ID"/>
                        <element name="password" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="setPasswordResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:SetPasswordResult"/>
                    </sequence>
                </complexType>
            </element>

            <element name="resetPassword">
                <complexType>
                    <sequence>
                        <element name="userId" type="tns:ID"/>
                    </sequence>
                </complexType>
            </element>
            <element name="resetPasswordResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:ResetPasswordResult"/>
                    </sequence>
                </complexType>
            </element>

            <element name="getUserInfo">
                <complexType> 
                    <sequence/> 
                </complexType> 
            </element>
            <element name="getUserInfoResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="tns:GetUserInfoResult"/>
                    </sequence>
                </complexType>
            </element>



            <!-- Header Elements -->
            <element name="SessionHeader">
                <complexType>
                    <sequence>
                        <element name="sessionId" type="xsd:string"/> 
                    </sequence>
                </complexType>
            </element>


            <element name="CallOptions">
                <complexType>
                    <sequence>
                        <element name="client"            type="xsd:string"/>

                    </sequence>
                </complexType>
            </element>

            
            <element name="QueryOptions">
                <complexType>
                    <sequence>
                        <element name="batchSize" type="xsd:int" nillable="true" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            
            <element name="SaveOptions">
                <complexType>
                    <sequence>
                        <element name="autoAssign"          type="xsd:boolean"/>
                        <element name="assignmentRuleId"    type="tns:ID"/>
                    </sequence>
                </complexType>
            </element>
 
        </schema>

        <schema elementFormDefault="qualified"
                targetNamespace="urn:fault.partner.soap.sforce.com"
                xmlns="http://www.w3.org/2001/XMLSchema">

            <simpleType name="ExceptionCode">
                <restriction base="xsd:string">
                    <enumeration value="API_CURRENTLY_DISABLED"/>
                    <enumeration value="API_DISABLED_FOR_ORG"/>
                    <enumeration value="EXCEEDED_ID_LIMIT_ON_RETRIEVE"/>
                    <enumeration value="EXCEEDED_QUOTA"/>
                    <enumeration value="EXCEEDED_RATE_LIMIT"/>
                    <enumeration value="FUNCTIONALITY_NOT_ENABLED"/>
                    <enumeration value="INSUFFICIENT_ACCESS"/>
                    <enumeration value="INVALID_BATCH_SIZE"/>
                    <enumeration value="INVALID_CLIENT"/>
                    <enumeration value="INVALID_FIELD"/>
                    <enumeration value="INVALID_LOGIN"/>
                    <enumeration value="INVALID_QUERY_FILTER_OPERATOR"/>
                    <enumeration value="INVALID_QUERY_LOCATOR"/>
                    <enumeration value="INVALID_REPLICATION_DATE"/>
                    <enumeration value="INVALID_SEARCH"/>
                    <enumeration value="INVALID_SEARCH_SCOPE"/>
                    <enumeration value="INVALID_SESSION_ID"/>
                    <enumeration value="INVALID_TYPE"/>
                    <enumeration value="LOGIN_DURING_RESTRICTED_DOMAIN"/>
                    <enumeration value="LOGIN_DURING_RESTRICTED_TIME"/>
                    <enumeration value="MALFORMED_QUERY"/>
                    <enumeration value="MALFORMED_SEARCH"/>
                    <enumeration value="ORG_LOCKED"/>
                    <enumeration value="PASSWORD_LOCKOUT"/>
                    <enumeration value="SERVER_UNAVAILABLE"/>
                    <enumeration value="TRIAL_EXPIRED"/>
                    <enumeration value="UNKNOWN_EXCEPTION"/>
                    <enumeration value="UNSUPPORTED_API_VERSION"/>
                    <enumeration value="UNSUPPORTED_CLIENT"/>
                </restriction>
            </simpleType>


            <!-- Fault -->
            <complexType name="ApiFault">
                <sequence>
                    <element name="exceptionCode"    type="fns:ExceptionCode"/>
                    <element name="exceptionMessage" type="xsd:string"/>

                </sequence>
            </complexType>

            <complexType name="LoginFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="LoginFault" type="fns:LoginFault"/>

            <complexType name="InvalidSObjectFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="InvalidSObjectFault" type="fns:InvalidSObjectFault"/>

            <complexType name="InvalidFieldFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="InvalidFieldFault" type="fns:InvalidFieldFault"/>

            <complexType name="MalformedQueryFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="MalformedQueryFault" type="fns:MalformedQueryFault"/>

            <complexType name="InvalidQueryLocatorFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="InvalidQueryLocatorFault" type="fns:InvalidQueryLocatorFault"/>

            <complexType name="MalformedSearchFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="MalformedSearchFault" type="fns:MalformedSearchFault"/>

            <complexType name="InvalidIdFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="InvalidIdFault" type="fns:InvalidIdFault"/>

            <complexType name="UnexpectedErrorFault">
                <complexContent>
                    <extension base="fns:ApiFault"/>
                </complexContent>
            </complexType>
            <element name="UnexpectedErrorFault" type="fns:UnexpectedErrorFault"/>


        </schema>

    </types>
    
    <!-- Header Message -->
    <message name="Header">
        <part element="tns:SessionHeader"    name="SessionHeader"/>

        <part element="tns:CallOptions"      name="CallOptions"/>

        <part element="tns:SaveOptions"      name="SaveOptions"/>
        <part element="tns:QueryOptions"     name="QueryOptions"/>
    </message>
    
    <!-- Fault Messages -->
    
    <message name="ApiFault">
        <part name="fault" type="fns:ApiFault"/>
    </message>

    <message name="LoginFault">
        <part name="fault" element="fns:LoginFault"/>
    </message>
    <message name="InvalidSObjectFault">
        <part name="fault" element="fns:InvalidSObjectFault"/>
    </message>
    <message name="InvalidFieldFault">
        <part name="fault" element="fns:InvalidFieldFault"/>
    </message>
    <message name="MalformedQueryFault">
        <part name="fault" element="fns:MalformedQueryFault"/>
    </message>
    <message name="InvalidQueryLocatorFault">
        <part name="fault" element="fns:InvalidQueryLocatorFault"/>
    </message>
    <message name="MalformedSearchFault">
        <part name="fault" element="fns:MalformedSearchFault"/>
    </message>
    <message name="InvalidIdFault">
        <part name="fault" element="fns:InvalidIdFault"/>
    </message>
    <message name="UnexpectedErrorFault">
        <part name="fault" element="fns:UnexpectedErrorFault"/>
    </message>

    
    <!-- Method Messages -->
    
    <message name="loginRequest">
        <part element="tns:login" name="parameters"/>
    </message>
    <message name="loginResponse">
        <part element="tns:loginResponse" name="parameters"/>
    </message>

    <message name="describeSObjectRequest">
        <part element="tns:describeSObject" name="parameters"/>
    </message>
    <message name="describeSObjectResponse">
        <part element="tns:describeSObjectResponse" name="parameters"/>
    </message>
    
    <message name="describeGlobalRequest">
        <part element="tns:describeGlobal" name="parameters"/>
    </message>
    <message name="describeGlobalResponse">
        <part element="tns:describeGlobalResponse" name="parameters"/>
    </message>

    <message name="createRequest">
        <part element="tns:create" name="parameters"/>
    </message>
    <message name="createResponse">
        <part element="tns:createResponse" name="parameters"/>
    </message>

    <message name="updateRequest">
        <part element="tns:update" name="parameters"/>
    </message>
    <message name="updateResponse">
        <part element="tns:updateResponse" name="parameters"/>
    </message>

    <message name="deleteRequest">
        <part element="tns:delete" name="parameters"/>
    </message>
    <message name="deleteResponse">
        <part element="tns:deleteResponse" name="parameters"/>
    </message>

    <message name="retrieveRequest">
        <part element="tns:retrieve" name="parameters"/>
    </message>
    <message name="retrieveResponse">
        <part element="tns:retrieveResponse" name="parameters"/>
    </message>

    <message name="getDeletedRequest">
        <part element="tns:getDeleted" name="parameters"/>
    </message>
    <message name="getDeletedResponse">
        <part element="tns:getDeletedResponse" name="parameters"/>
    </message>

    <message name="getUpdatedRequest">
        <part element="tns:getUpdated" name="parameters"/>
    </message>
    <message name="getUpdatedResponse">
        <part element="tns:getUpdatedResponse" name="parameters"/>
    </message>

    <message name="queryRequest">
        <part element="tns:query" name="parameters"/>
    </message>
    <message name="queryResponse">
        <part element="tns:queryResponse" name="parameters"/>
    </message>

    <message name="queryMoreRequest">
        <part element="tns:queryMore" name="parameters"/>
    </message>
    <message name="queryMoreResponse">
        <part element="tns:queryMoreResponse" name="parameters"/>
    </message>

    <message name="searchRequest">
        <part element="tns:search" name="parameters"/>
    </message>
    <message name="searchResponse">
        <part element="tns:searchResponse" name="parameters"/>
    </message>


    
    <message name="getServerTimestampRequest">
        <part element="tns:getServerTimestamp" name="parameters"/>
    </message>
    <message name="getServerTimestampResponse">
        <part element="tns:getServerTimestampResponse" name="parameters"/>
    </message>

    <message name="setPasswordRequest">
        <part element="tns:setPassword" name="parameters"/>
    </message>
    <message name="setPasswordResponse">
        <part element="tns:setPasswordResponse" name="parameters"/>
    </message>

    <message name="resetPasswordRequest">
        <part element="tns:resetPassword" name="parameters"/>
    </message>
    <message name="resetPasswordResponse">
        <part element="tns:resetPasswordResponse" name="parameters"/>
    </message>

    <message name="getUserInfoRequest">
        <part element="tns:getUserInfo" name="parameters"/>
    </message>
    <message name="getUserInfoResponse">
        <part element="tns:getUserInfoResponse" name="parameters"/>
    </message>



    <!-- Soap PortType -->
    <portType name="Soap">
        <operation name="login">
            <documentation>Login to the Salesforce.com SOAP Api.</documentation>
            <input  message="tns:loginRequest"/>
            <output message="tns:loginResponse"/>
            <fault  message="tns:LoginFault" name="LoginFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>
        
        <operation name="describeSObject">
            <documentation>Describe the Global state</documentation>
            <input message="tns:describeSObjectRequest"/>
            <output message="tns:describeSObjectResponse"/>
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        
        <operation name="describeGlobal">
            <documentation>Describe an sObject</documentation>
            <input message="tns:describeGlobalRequest"/>
            <output message="tns:describeGlobalResponse"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="create">
            <documentation>Create a set of new sObjects</documentation>
            <input  message="tns:createRequest"/>
            <output message="tns:createResponse"/>
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="update">
            <documentation>Update a set of sObjects</documentation>
            <input  message="tns:updateRequest"/>
            <output message="tns:updateResponse"/>
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>
        
        <operation name="delete">
            <documentation>Delete a set of sObjects</documentation>
            <input  message="tns:deleteRequest"/>
            <output message="tns:deleteResponse"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>
        
        <operation name="retrieve">
            <documentation>Get a set of sObjects</documentation>
            <input  message="tns:retrieveRequest"/>
            <output message="tns:retrieveResponse"/>
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:InvalidFieldFault" name="InvalidFieldFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="getDeleted">
            <documentation>Get the IDs for deleted sObjects</documentation>
            <input  message="tns:getDeletedRequest" />
            <output message="tns:getDeletedResponse" />
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="getUpdated">
            <documentation>Get the IDs for updated sObjects</documentation>
            <input  message="tns:getUpdatedRequest" />
            <output message="tns:getUpdatedResponse" />
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="query">
            <documentation>Create a Query Cursor</documentation>
            <input  message="tns:queryRequest"/>
            <output message="tns:queryResponse"/>
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:InvalidFieldFault" name="InvalidFieldFault"/>
            <fault  message="tns:MalformedQueryFault" name="MalformedQueryFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>
        
        <operation name="queryMore">
            <documentation>Gets the next batch of sObjects from a query</documentation>
            <input  message="tns:queryMoreRequest"/>
            <output message="tns:queryMoreResponse"/>
            <fault  message="tns:InvalidQueryLocatorFault" name="InvalidQueryLocatorFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="search">
            <documentation>Search for sObjects</documentation>
            <input  message="tns:searchRequest" />
            <output message="tns:searchResponse" />
            <fault  message="tns:InvalidSObjectFault" name="InvalidSObjectFault"/>
            <fault  message="tns:InvalidFieldFault" name="InvalidFieldFault" />
            <fault  message="tns:MalformedSearchFault" name="MalformedSearchFault" />
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>



        <operation name="getServerTimestamp">
            <documentation>Gets server timestamp</documentation>
            <input  message="tns:getServerTimestampRequest"/>
            <output message="tns:getServerTimestampResponse"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="setPassword">
            <documentation>Set a user's password</documentation>
            <input  message="tns:setPasswordRequest"/>
            <output message="tns:setPasswordResponse"/>
            <fault  message="tns:InvalidIdFault" name="InvalidIdFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="resetPassword">
            <documentation>Reset a user's password</documentation>
            <input  message="tns:resetPasswordRequest"/>
            <output message="tns:resetPasswordResponse"/>
            <fault  message="tns:InvalidIdFault" name="InvalidIdFault"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>

        <operation name="getUserInfo">
            <documentation>Returns standard information relevant to the current user</documentation>
            <input  message="tns:getUserInfoRequest"/>
            <output message="tns:getUserInfoResponse"/>
            <fault  message="tns:UnexpectedErrorFault" name="UnexpectedErrorFault"/>
        </operation>


        
    </portType>
    
    <!-- Soap Binding -->
    <binding name="SoapBinding" type="tns:Soap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="login">
            <soap:operation soapAction=""/>
            <input>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output> 
                <soap:body use="literal"/>
            </output>
            <fault name="LoginFault">
               <soap:fault name="LoginFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>
        
        <operation name="describeSObject">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
                <soap:fault name="InvalidSObjectFault" use="literal"/> 
            </fault>
           <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
           </fault>
        </operation>
        
        <operation name="describeGlobal">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="create">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:header use="literal" message="tns:Header" part="SaveOptions"/>
                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
                <soap:fault name="InvalidSObjectFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>
        
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:header use="literal" message="tns:Header" part="SaveOptions"/>
                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
                <soap:fault name="InvalidSObjectFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>
        
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="retrieve">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:header use="literal" message="tns:Header" part="QueryOptions"/>
                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
               <soap:fault name="InvalidSObjectFault" use="literal"/> 
            </fault>
            <fault name="InvalidFieldFault">
               <soap:fault name="InvalidFieldFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="getDeleted">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
               <soap:fault name="InvalidSObjectFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="getUpdated">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
               <soap:fault name="InvalidSObjectFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="query">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:header use="literal" message="tns:Header" part="QueryOptions"/>
                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
               <soap:fault name="InvalidSObjectFault" use="literal"/> 
            </fault>
            <fault name="InvalidFieldFault">
               <soap:fault name="InvalidFieldFault" use="literal"/> 
            </fault>
            <fault name="MalformedQueryFault">
               <soap:fault name="MalformedQueryFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="queryMore">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:header use="literal" message="tns:Header" part="QueryOptions"/>
                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidQueryLocatorFault">
               <soap:fault name="InvalidQueryLocatorFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="search">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidSObjectFault">
               <soap:fault name="InvalidSObjectFault" use="literal"/>
            </fault>
            <fault name="InvalidFieldFault">
               <soap:fault name="InvalidFieldFault" use="literal"/>
            </fault>
            <fault name="MalformedSearchFault">
               <soap:fault name="MalformedSearchFault" use="literal"/>
            </fault>
            <fault name="UnexpectedErrorFault">
               <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>



        <operation name="getServerTimestamp">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="setPassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidIdFault">
                <soap:fault name="InvalidIdFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="resetPassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="InvalidIdFault">
                <soap:fault name="InvalidIdFault" use="literal"/> 
            </fault>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>

        <operation name="getUserInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:header use="literal" message="tns:Header" part="SessionHeader"/>

                <soap:header use="literal" message="tns:Header" part="CallOptions"/>

                <soap:body parts="parameters" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="UnexpectedErrorFault">
                <soap:fault name="UnexpectedErrorFault" use="literal"/> 
            </fault>
        </operation>



    </binding>
    
    <!-- Soap Service Endpoint -->
    <service name="SforceService">
        <documentation>Sforce SOAP API</documentation>
        <port binding="tns:SoapBinding" name="Soap">
            <soap:address location="https://www.salesforce.com/services/Soap/u/3.0"/>
        </port>
    </service>
</definitions>

    


