wscp/ebay/trunk/eBayAPI/controls/eBayAPIControl/eBayAPIControlSchemas/EBayResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Tarun (Independent) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://controlhaus.org/ebay" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebay="http://controlhaus.org/ebay" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AboutMe" type="xs:string"/>
	<xs:element name="AdditionalShippingCosts" type="xs:string"/>
	<xs:element name="Adult" type="xs:string"/>
	<xs:element name="Africa" type="xs:string"/>
	<xs:element name="AllowPaymentEdit" type="xs:string"/>
	<xs:element name="AmEx" type="xs:string"/>
	<xs:element name="ApplicationData">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Asia" type="xs:string"/>
	<xs:element name="AutoPay" type="xs:string"/>
	<xs:element name="BidCount" type="xs:string"/>
	<xs:element name="BidIncrement" type="xs:string"/>
	<xs:element name="BindingAuction" type="xs:string"/>
	<xs:element name="BoldTitle" type="xs:string"/>
	<xs:element name="BuyItNowPrice" type="xs:string"/>
	<xs:element name="BuyerPayBySellersFixed" type="xs:string"/>
	<xs:element name="BuyerPaysActual" type="xs:string"/>
	<xs:element name="BuyerProtection" type="xs:string"/>
	<xs:element name="CCAccepted" type="xs:string"/>
	<xs:element name="CIPBankAccountStored" type="xs:string"/>
	<xs:element name="COD" type="xs:string"/>
	<xs:element name="Caribbean" type="xs:string"/>
	<xs:element name="CashOnPickupAccepted" type="xs:string"/>
	<xs:element name="Category">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:CategoryId"/>
				<xs:element ref="ebay:CategoryFullName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CategoryFullName" type="xs:string"/>
	<xs:element name="CategoryId" type="xs:string"/>
	<xs:element name="Charity" type="xs:string"/>
	<xs:element name="CharityListing" type="xs:string"/>
	<xs:element name="Checkout">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:Details"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckoutEnabled" type="xs:string"/>
	<xs:element name="CheckoutInstructions">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CheckoutRedirect" type="xs:string"/>
	<xs:element name="Code" type="xs:string"/>
	<xs:element name="Column" type="xs:string"/>
	<xs:element name="ConvertedBuyItNowPrice" type="xs:string"/>
	<xs:element name="ConvertedPrice" type="xs:string"/>
	<xs:element name="ConvertedStartPrice" type="xs:string"/>
	<xs:element name="Counter" type="xs:string"/>
	<xs:element name="Country" type="xs:string"/>
	<xs:element name="Currency" type="xs:string"/>
	<xs:element name="CurrencyId" type="xs:string"/>
	<xs:element name="CurrentPrice" type="xs:string"/>
	<xs:element name="Days" type="xs:string"/>
	<xs:element name="Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:AllowPaymentEdit"/>
				<xs:element ref="ebay:CheckoutInstructions"/>
				<xs:element ref="ebay:SalesTaxState"/>
				<xs:element ref="ebay:InsuranceFee"/>
				<xs:element ref="ebay:AdditionalShippingCosts"/>
				<xs:element ref="ebay:ShippingInTax"/>
				<xs:element ref="ebay:InsuranceOption"/>
				<xs:element ref="ebay:ShippingHandlingCosts"/>
				<xs:element ref="ebay:ShippingType"/>
				<xs:element ref="ebay:CheckoutRedirect"/>
				<xs:element ref="ebay:SalesTaxPercent"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Discover" type="xs:string"/>
	<xs:element name="EBayTime" type="xs:string"/>
	<xs:element name="EndTime" type="xs:string"/>
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:Code"/>
				<xs:element ref="ebay:SeverityCode"/>
				<xs:element ref="ebay:Severity"/>
				<xs:element ref="ebay:Line"/>
				<xs:element ref="ebay:Column"/>
				<xs:element ref="ebay:ErrorClass"/>
				<xs:element ref="ebay:ShortMessage"/>
				<xs:element ref="ebay:LongMessage"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ErrorClass" type="xs:string"/>
	<xs:element name="Errors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:Error"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Escrow" type="xs:string"/>
	<xs:element name="EscrowBySeller" type="xs:string"/>
	<xs:element name="Europe" type="xs:string"/>
	<xs:element name="Featured" type="xs:string"/>
	<xs:element name="Feedback">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:Score"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Gallery" type="xs:string"/>
	<xs:element name="GalleryFeatured" type="xs:string"/>
	<xs:element name="GalleryURL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GiftExpressShipping" type="xs:string"/>
	<xs:element name="GiftIcon" type="xs:string"/>
	<xs:element name="GiftServices">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:GiftExpressShipping"/>
				<xs:element ref="ebay:GiftShipToRecipient"/>
				<xs:element ref="ebay:GiftWrap"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GiftShipToRecipient" type="xs:string"/>
	<xs:element name="GiftWrap" type="xs:string"/>
	<xs:element name="GoodTillCanceled" type="xs:string"/>
	<xs:element name="Highlight" type="xs:string"/>
	<xs:element name="Hours" type="xs:string"/>
	<xs:element name="IDVerified" type="xs:string"/>
	<xs:element name="Id" type="xs:string"/>
	<xs:element name="InsuranceFee" type="xs:string"/>
	<xs:element name="InsuranceOption" type="xs:string"/>
	<xs:element name="IsLAAuthorized" type="xs:string"/>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:ApplicationData"/>
				<xs:element ref="ebay:AutoPay"/>
				<xs:element ref="ebay:BidCount"/>
				<xs:element ref="ebay:BidIncrement"/>
				<xs:element ref="ebay:BuyerProtection"/>
				<xs:element ref="ebay:BuyItNowPrice"/>
				<xs:element ref="ebay:Charity"/>
				<xs:element ref="ebay:CharityListing"/>
				<xs:element ref="ebay:ConvertedBuyItNowPrice"/>
				<xs:element ref="ebay:ConvertedPrice"/>
				<xs:element ref="ebay:ConvertedStartPrice"/>
				<xs:element ref="ebay:Counter"/>
				<xs:element ref="ebay:Country"/>
				<xs:element ref="ebay:Category"/>
				<xs:element ref="ebay:Checkout"/>
				<xs:element ref="ebay:Currency"/>
				<xs:element ref="ebay:CurrencyId"/>
				<xs:element ref="ebay:CurrentPrice"/>
				<xs:element ref="ebay:EndTime"/>
				<xs:element ref="ebay:GalleryURL"/>
				<xs:element ref="ebay:GiftIcon"/>
				<xs:element ref="ebay:GiftServices"/>
				<xs:element ref="ebay:GoodTillCanceled"/>
				<xs:element ref="ebay:Id"/>
				<xs:element ref="ebay:ItemProperties"/>
				<xs:element ref="ebay:ItemRevised"/>
				<xs:element ref="ebay:Location"/>
				<xs:element ref="ebay:MinimumToBid"/>
				<xs:element ref="ebay:SecondChanceEligible"/>
				<xs:element ref="ebay:PaymentTerms"/>
				<xs:element ref="ebay:PhotoCount"/>
				<xs:element ref="ebay:PhotoDisplayType"/>
				<xs:element ref="ebay:PictureURL"/>
				<xs:element ref="ebay:Quantity"/>
				<xs:element ref="ebay:QuantitySold"/>
				<xs:element ref="ebay:Region"/>
				<xs:element ref="ebay:Seller"/>
				<xs:element ref="ebay:ShippingOption"/>
				<xs:element ref="ebay:ShippingRegions"/>
				<xs:element ref="ebay:ShippingTerms"/>
				<xs:element ref="ebay:SiteCurrency"/>
				<xs:element ref="ebay:SiteId"/>
				<xs:element ref="ebay:StartPrice"/>
				<xs:element ref="ebay:StartTime"/>
				<xs:element ref="ebay:StorefrontItem"/>
				<xs:element ref="ebay:TimeLeft"/>
				<xs:element ref="ebay:Title"/>
				<xs:element ref="ebay:SubtitleText"/>
				<xs:element ref="ebay:TitleBarImage"/>
				<xs:element ref="ebay:UUID"/>
				<xs:element ref="ebay:Zip"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ItemProperties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:Adult"/>
				<xs:element ref="ebay:BindingAuction"/>
				<xs:element ref="ebay:BoldTitle"/>
				<xs:element ref="ebay:CheckoutEnabled"/>
				<xs:element ref="ebay:Featured"/>
				<xs:element ref="ebay:Gallery"/>
				<xs:element ref="ebay:GalleryFeatured"/>
				<xs:element ref="ebay:Highlight"/>
				<xs:element ref="ebay:Private"/>
				<xs:element ref="ebay:Reserve"/>
				<xs:element ref="ebay:ReserveMet"/>
				<xs:element ref="ebay:SuperFeatured"/>
				<xs:element ref="ebay:Type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ItemRevised" type="xs:string"/>
	<xs:element name="LatinAmerica" type="xs:string"/>
	<xs:element name="Line" type="xs:string"/>
	<xs:element name="Location" type="xs:string"/>
	<xs:element name="LongMessage" type="xs:string"/>
	<xs:element name="MOCashiers" type="xs:string"/>
	<xs:element name="MerchandisingPref" type="xs:string"/>
	<xs:element name="MiddleEast" type="xs:string"/>
	<xs:element name="MinimumToBid" type="xs:string"/>
	<xs:element name="Minutes" type="xs:string"/>
	<xs:element name="MoneyXferAccepted" type="xs:string"/>
	<xs:element name="MoneyXferAcceptedinCheckout" type="xs:string"/>
	<xs:element name="NewUser" type="xs:string"/>
	<xs:element name="NorthAmerica" type="xs:string"/>
	<xs:element name="Oceania" type="xs:string"/>
	<xs:element name="Other" type="xs:string"/>
	<xs:element name="OtherPaymentsOnline" type="xs:string"/>
	<xs:element name="PayPalAccepted" type="xs:string"/>
	<xs:element name="PaymentTerms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:AmEx"/>
				<xs:element ref="ebay:CashOnPickupAccepted"/>
				<xs:element ref="ebay:COD"/>
				<xs:element ref="ebay:CCAccepted"/>
				<xs:element ref="ebay:Discover"/>
				<xs:element ref="ebay:Escrow"/>
				<xs:element ref="ebay:EscrowBySeller"/>
				<xs:element ref="ebay:MOCashiers"/>
				<xs:element ref="ebay:MoneyXferAccepted"/>
				<xs:element ref="ebay:MoneyXferAcceptedinCheckout"/>
				<xs:element ref="ebay:Other"/>
				<xs:element ref="ebay:OtherPaymentsOnline"/>
				<xs:element ref="ebay:PayPalAccepted"/>
				<xs:element ref="ebay:PersonalCheck"/>
				<xs:element ref="ebay:SeeDescription"/>
				<xs:element ref="ebay:VisaMaster"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonalCheck" type="xs:string"/>
	<xs:element name="PhotoCount" type="xs:string"/>
	<xs:element name="PhotoDisplayType" type="xs:string"/>
	<xs:element name="PictureURL" type="xs:string"/>
	<xs:element name="Private" type="xs:string"/>
	<xs:element name="Quantity" type="xs:string"/>
	<xs:element name="QuantitySold" type="xs:string"/>
	<xs:element name="RegDate" type="xs:string"/>
	<xs:element name="Region">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Reserve" type="xs:string"/>
	<xs:element name="ReserveMet" type="xs:string"/>
	<xs:element name="SalesTaxPercent" type="xs:string"/>
	<xs:element name="SalesTaxState">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Score" type="xs:string"/>
	<xs:element name="SecondChanceEligible" type="xs:string"/>
	<xs:element name="Seconds" type="xs:string"/>
	<xs:element name="SeeDescription" type="xs:string"/>
	<xs:element name="Seller">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:User"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SellerLevel" type="xs:string"/>
	<xs:element name="SellerPays" type="xs:string"/>
	<xs:element name="Severity" type="xs:string"/>
	<xs:element name="SeverityCode" type="xs:string"/>
	<xs:element name="ShippingHandlingCosts" type="xs:string"/>
	<xs:element name="ShippingInTax" type="xs:string"/>
	<xs:element name="ShippingOption" type="xs:string"/>
	<xs:element name="ShippingRegions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:Africa"/>
				<xs:element ref="ebay:Asia"/>
				<xs:element ref="ebay:Caribbean"/>
				<xs:element ref="ebay:Europe"/>
				<xs:element ref="ebay:LatinAmerica"/>
				<xs:element ref="ebay:MiddleEast"/>
				<xs:element ref="ebay:NorthAmerica"/>
				<xs:element ref="ebay:Oceania"/>
				<xs:element ref="ebay:SouthAmerica"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShippingTerms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:BuyerPayBySellersFixed"/>
				<xs:element ref="ebay:BuyerPaysActual"/>
				<xs:element ref="ebay:SeeDescription"/>
				<xs:element ref="ebay:SellerPays"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShippingType" type="xs:string"/>
	<xs:element name="ShortMessage" type="xs:string"/>
	<xs:element name="SiteCurrency" type="xs:string"/>
	<xs:element name="SiteId" type="xs:string"/>
	<xs:element name="SouthAmerica" type="xs:string"/>
	<xs:element name="Star" type="xs:string"/>
	<xs:element name="StartPrice" type="xs:string"/>
	<xs:element name="StartTime" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="StoreOwner" type="xs:string"/>
	<xs:element name="StorefrontItem" type="xs:string"/>
	<xs:element name="SubtitleText">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SuperFeatured" type="xs:string"/>
	<xs:element name="TimeLeft">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:Days"/>
				<xs:element ref="ebay:Hours"/>
				<xs:element ref="ebay:Minutes"/>
				<xs:element ref="ebay:Seconds"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Title" type="xs:string"/>
	<xs:element name="TitleBarImage" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="UUID" type="xs:string"/>
	<xs:element name="User">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:UserIdLastChanged"/>
				<xs:element ref="ebay:Status"/>
				<xs:element ref="ebay:SellerLevel"/>
				<xs:element ref="ebay:SiteId"/>
				<xs:element ref="ebay:AboutMe"/>
				<xs:element ref="ebay:RegDate"/>
				<xs:element ref="ebay:MerchandisingPref"/>
				<xs:element ref="ebay:UserIdChanged"/>
				<xs:element ref="ebay:CheckoutEnabled"/>
				<xs:element ref="ebay:IsLAAuthorized"/>
				<xs:element ref="ebay:CIPBankAccountStored"/>
				<xs:element ref="ebay:eBayGoodStanding"/>
				<xs:element ref="ebay:Star"/>
				<xs:element ref="ebay:StoreOwner"/>
				<xs:element ref="ebay:AllowPaymentEdit"/>
				<xs:element ref="ebay:NewUser"/>
				<xs:element ref="ebay:IDVerified"/>
				<xs:element ref="ebay:Feedback"/>
				<xs:element ref="ebay:UserId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserId" type="xs:string"/>
	<xs:element name="UserIdChanged" type="xs:string"/>
	<xs:element name="UserIdLastChanged" type="xs:string"/>
	<xs:element name="VisaMaster" type="xs:string"/>
	<xs:element name="Zip" type="xs:string"/>
	<xs:element name="eBay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ebay:EBayTime"/>
				<xs:element ref="ebay:Errors"/>
				<xs:element ref="ebay:Item"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="eBayGoodStanding" type="xs:string"/>
</xs:schema>
