webservice/trunk/samples/wsm_samples_client/rpc_schemas/RpcEncodedSample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://beehive.apache.org/web/webservice/rpc-enc-examples" xmlns:intf="http://beehive.apache.org/web/webservice/rpc-enc-examples" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://sample.beehive.apache.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC3
Built on Feb 28, 2005 (10:15:14 EST)-->
 <wsdl:types>
  <schema targetNamespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sample.beehive.apache.org"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Phone">
    <sequence>
     <element name="areaCode" nillable="true" type="xsd:int"/>
     <element name="exchange" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="StateType">
    <sequence>
     <element name="state" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="impl:Phone"/>
     <element name="state" nillable="true" type="impl:StateType"/>
     <element name="streetName" nillable="true" type="xsd:string"/>
     <element name="streetNum" nillable="true" type="xsd:int"/>
     <element name="zip" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://sample.beehive.apache.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AddressException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="returnAddressFromHeaderResponse">

      <wsdl:part name="ReturnAddressFromHeaderResult" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="changeAddressInBodyRequest">

      <wsdl:part name="inout_param_body" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="throwAddressExceptionRequest">

      <wsdl:part name="in_param" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="AddressException">

      <wsdl:part name="fault" type="tns1:AddressException"/>

   </wsdl:message>

   <wsdl:message name="createAddressInBodyResponse">

      <wsdl:part name="ReturnCreateAddressInBodyResult" type="xsd:int"/>

      <wsdl:part name="out_param_body" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="throwAddressExceptionResponse">

      <wsdl:part name="ThrowAddressExceptionResult" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="returnAddressFromBodyRequest">

      <wsdl:part name="in_param_body" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="returnAddressFromHeaderRequest">

      <wsdl:part name="in_param_header" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="createAddressInHeaderResponse">

      <wsdl:part name="out_param_header" type="impl:Address"/>

      <wsdl:part name="ReturnCreateAddressInHeaderResult" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="changeAddressInHeaderRequest">

      <wsdl:part name="inout_param_header" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="changeAddressInBodyResponse">

      <wsdl:part name="ChangeAddressInBodyResult" type="xsd:int"/>

      <wsdl:part name="inout_param_body" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="createAddressInHeaderRequest">

   </wsdl:message>

   <wsdl:message name="returnAddressFromBodyResponse">

      <wsdl:part name="ReturnAddressFromBodyResult" type="impl:Address"/>

   </wsdl:message>

   <wsdl:message name="createAddressInBodyRequest">

   </wsdl:message>

   <wsdl:message name="changeAddressInHeaderResponse">

      <wsdl:part name="inout_param_header" type="impl:Address"/>

      <wsdl:part name="ChangeAddressInHeaderResult" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="RpcEncodedSample">

      <wsdl:operation name="returnAddressFromBody" parameterOrder="in_param_body">

         <wsdl:input message="impl:returnAddressFromBodyRequest" name="returnAddressFromBodyRequest"/>

         <wsdl:output message="impl:returnAddressFromBodyResponse" name="returnAddressFromBodyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="returnAddressFromHeader" parameterOrder="in_param_header">

         <wsdl:input message="impl:returnAddressFromHeaderRequest" name="returnAddressFromHeaderRequest"/>

         <wsdl:output message="impl:returnAddressFromHeaderResponse" name="returnAddressFromHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createAddressInBody" parameterOrder="out_param_body">

         <wsdl:input message="impl:createAddressInBodyRequest" name="createAddressInBodyRequest"/>

         <wsdl:output message="impl:createAddressInBodyResponse" name="createAddressInBodyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createAddressInHeader" parameterOrder="out_param_header">

         <wsdl:input message="impl:createAddressInHeaderRequest" name="createAddressInHeaderRequest"/>

         <wsdl:output message="impl:createAddressInHeaderResponse" name="createAddressInHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInBody" parameterOrder="inout_param_body">

         <wsdl:input message="impl:changeAddressInBodyRequest" name="changeAddressInBodyRequest"/>

         <wsdl:output message="impl:changeAddressInBodyResponse" name="changeAddressInBodyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInHeader" parameterOrder="inout_param_header">

         <wsdl:input message="impl:changeAddressInHeaderRequest" name="changeAddressInHeaderRequest"/>

         <wsdl:output message="impl:changeAddressInHeaderResponse" name="changeAddressInHeaderResponse"/>

      </wsdl:operation>

      <wsdl:operation name="throwAddressException" parameterOrder="in_param">

         <wsdl:input message="impl:throwAddressExceptionRequest" name="throwAddressExceptionRequest"/>

         <wsdl:output message="impl:throwAddressExceptionResponse" name="throwAddressExceptionResponse"/>

         <wsdl:fault message="impl:AddressException" name="AddressException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RpcEncodedSampleSoapBinding" type="impl:RpcEncodedSample">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="returnAddressFromBody">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnAddressFromBodyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="returnAddressFromBodyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="returnAddressFromHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnAddressFromHeaderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" parts="" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:returnAddressFromHeaderRequest" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" part="in_param_header" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="returnAddressFromHeaderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAddressInBody">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAddressInBodyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAddressInBodyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createAddressInHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAddressInHeaderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createAddressInHeaderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" parts="ReturnCreateAddressInHeaderResult" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:createAddressInHeaderResponse" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" part="out_param_header" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInBody">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeAddressInBodyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="changeAddressInBodyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeAddressInHeader">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeAddressInHeaderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" parts="" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:changeAddressInHeaderRequest" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" part="inout_param_header" use="encoded">

            </wsdlsoap:header>

         </wsdl:input>

         <wsdl:output name="changeAddressInHeaderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" parts="ChangeAddressInHeaderResult" use="encoded"/>

            <wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:changeAddressInHeaderResponse" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" part="inout_param_header" use="encoded">

            </wsdlsoap:header>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="throwAddressException">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="throwAddressExceptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="throwAddressExceptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="AddressException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AddressException" namespace="http://beehive.apache.org/web/webservice/rpc-enc-examples" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RpcEncodedSampleService">

      <wsdl:port binding="impl:RpcEncodedSampleSoapBinding" name="RpcEncodedSample">

         <wsdlsoap:address location="http://localhost:8080/wsm-samplesWS/web/complex/RpcEncodedSample.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
