jdbc/trunk/test/src/controls/schemas/users/users.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"           xmlns="http://test/customer_db"           targetNamespace="http://test/customer_db"           elementFormDefault="qualified">    <xs:element name="XCustomerRow">        <xs:complexType>            <xs:sequence>                <xs:element name="FNAME" type="xs:string" minOccurs="1" nillable="true"/>                <xs:element name="USERID" type="xs:int" minOccurs="1" nillable="true"/>            </xs:sequence>        </xs:complexType>    </xs:element></xs:schema>